{
    margin: 0;
    padding: 0;
}

h1{

  font-size:44PX;
  color:#fff;
text-align: center;
margin-top: 5px;
}

body{
    width:100vw;
    margin: 0;
    height: 135vh;
    font-family:"lato", sans-serif;
     background-color:black;
     font-weight: 700;
    color:#555;
    display: flex;
    align-items: center; 
     justify-content: center; 
     /* position: absolute; */ */
     /* top: 235px; */ */
    /* /* right: -408px;  */
  }
   .login-div{
    width: 40vw;
    padding: 65px 35px 35px 35px;
    margin: 0;
    height: 140vh;
    border-radius: 40px;
    font-family:"lato", sans-serif;
     background-color: black ;
     box-shadow: 13px 13px 20px #7785ae,
                 -13px -13px 20px #5b6182;
     font-weight: 700;
    color:#555;
    display: flex;
    align-items: center; 
     justify-content: center; 
     margin-top: 140px;

  }
  .field{
    width: 100%;
    padding: 75px 5px 5px 5px;
    margin: 0;
  }
  .field input{
    background: none;
    outline: none;
    border: none;
    font-size: 20px;
    padding: 20px 10px 20px 5px;
    color: #fff;
    margin-left: 195px;
}
.cp,
.lst,
.user,
.inputbox,
.input{
    margin-bottom: 37px;
    border-radius: 90px;
    box-shadow: inset 8px 8px 8px  #cdced1 ,
    inset -8px -8px 8px #fff;
color: #fff;
}
.new{
  margin-top: 20px;
  font-size: medium;
}
.btn{
  margin-top:  20px; ;
}
.submit-btn{
  background: none;
  outline: none;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  font-family:"lato", sans-serif;
  padding: 20px 10px 20px 5px;
  color: #fff;
  background-color: aqua;
 box-shadow: 3px 8px 8px #b1b1b1,
 -3px -3px 8px #fff ;
transition: all 0.5s;
}
.submit-btn:hover{
background-color: #8ecfbc;
}
.submit-btn:active{
background-color: #c54ecf;
}
.reg-btn{
  background: none;
  outline: none;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 38%;
  height: 62px;
  font-size: 20px;
  font-weight: 700;
  font-family:"lato", sans-serif;
  padding: 20px 10px 20px 5px;
  color: #fff;
  background-color: aqua;
 box-shadow: 3px 8px 8px #b1b1b1,
 -3px -3px 8px #fff ;
transition: all 0.5s;
margin-top: 30px;
}
.reg-btn:hover{
background-color: #ac0a0a;
}
.reg-btn:active{
  background-color: #88ef9e;
}
.can-btn{
  background: none;
  outline: none;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 34%;
  height: 62px;
  font-size: 20px;
  font-weight: 700;
  font-family:"lato", sans-serif;
  padding: 20px 10px 20px 5px;
  color: #fff;
  background-color: aqua;
 box-shadow: 3px 8px 8px #b1b1b1,
 -3px -3px 8px #fff ;
transition: all 0.5s;
margin-left: 145px;
}
.can-btn:hover{
background-color: #48b997;
}
.can-btn:active{
  background-color: #aa1b27;
}