*{
    margin: 0;
    padding: 0;
}
    .heading{
        position: absolute;
        top: -88px;
        right: 713px;
        font-style: oblique;
    }

    .navbar{
        width: 400px;
        float: left;
        height: 70px;
        color: black;
        position: absolute;
        top: -233px;
    }

    ul{
        float: left;
        display: flex;
     align-items: center; 
    justify-content: center;
    position: absolute;
right: -489px;
    }
   ul  li{
        
    margin-top: 32px;
    margin-left: 119px;
    font-size: 24px;
    }
    ul li a{
        text-decoration: none;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    }
    
    ul li a:hover{
        color: chocolate;
    }
body{
    width:100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
     background-color: rgb(3, 7, 43);
    color: bisque;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    position: absolute;
    top: 235px;
    right: -408px;
  }

.card{ 
    background-color: rgb(5, 6, 19);
    width: 350px;
    height: 400px;
    box-shadow: 0 0 11px 16px cornsilk;
    display: flex;
    align-items: center;
    justify-content:center;
    background-image: url(bggg.jpg);
    padding: 65px;
     position: absolute;
    top:    64px;
    right: 908px;
  }
  .loginbox{
      width: 220;
      height: 420px;
      color: #fff;
      position: absolute;
      top: 36%;
      left: 52%;
      transform: translate(-50%,-50%);
      box-sizing: border-box;
  }
  .avatar{
    width: 141px;
    height: 140px;
    border-radius: 50%;
    top: -60px;
    left: calc(50%-50%);
    position: absolute;
    right: -64px;                                          
  }
 .card h2{
     color: #fff;
     font-size: 36px;
    /* align-items: center; */
    /* justify-content: center; */
    left: 120px;
    position: absolute;
    top: 35px;
    margin-bottom: 20px;
  

}
.innerbox{
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 21px;
}
.card-front{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position:centre;
    background-size:cover;
}
.input-box{
    width: 100%;
background: transparent;
border: 1px solid #fff;
margin: 20px;
height: 49px;
border-radius:20px ;
padding: 0 10px;
box-sizing:border-box ;
outline: 2PX SOLID WHITE;
text-align: center;
color:#fff ;
}
::placeholder{
    color: #fff;
    font-size: 22px;
}
button{
    width: 100%;
    background:transparent;
    margin:35px 0 10px;
height: 32px;
font-size: 12px;
border-radius:20px ;
padding: 0 10px;
box-sizing:border-box ;
outline: none;
text-align: center;
color:#fff ;
cursor: pointer;
}
.submit-btn{
    position: absolute;
    /* background-color: #21d0a7; */
    width: 129px;
    height: 58px;
    font-size: 20px;
 border-radius: 10px;
 cursor: pointer;
    top: 221px;
right: 168px;
color: #fff;
transition: 0.4s ease;
margin: 27px;
}
.submit-btn:hover{
    background:  #1c1818;
    color: #fff;
}
.sty {
   
    color:#fff;
    line-height: 32px;
    height: 32px;
    width: 32px;
    font-size: 15px;
    border-radius: 50%;
    background: rgb(10, 1, 1);
    position: absolute;
    top: -2px;
    right: -10px;
}
span{
    color: #fff;
    margin left: ;: 20px;
    padding: 22px;
    font size: 20px;
}
.link{
    margin: 67px;
    width: 167px;
    position: absolute;
    top: 279px;
    right: 20px;
    font-size: 16px;
font-weight: bold;
}
.card .btn{
    margin-top: 70px;
}
.card a{
    margin: 113px;
    font-size: 23px;
    color: #fff;
    position: absolute;
top: 287px;
right: 26px;
}