{
    margin: 0;
    padding: 0;
}

body{
    width:100vw;
    margin: 0;
    height: 100vh;
    font-family:"lato", sans-serif;
     background-color:black;
     font-weight: 700;
    color:#555;
    display: flex;
    align-items: center; 
     justify-content: center; 
    /* position: absolute; */
    /* top: 235px; */
    /* right: -408px; */
  }
  .login-div{
    width: 33vw;
    padding: 65px 35px 35px 35px;
    margin: 0;
    height: 70vh;
    border-radius: 40px;
    font-family:"lato", sans-serif;
     background-color:black ;
     box-shadow: 13px 13px 20px #4f5462,
                 -13px -13px 20px #fff;

     font-weight: 700;
    color:#fff;
    display: flex;
    align-items: center; 
     justify-content: center; 
  }
  .field{
    width: 100%;
    padding: 75px 5px 5px 5px;
    margin: 0;
  }
  .field input{
      background: none;
      outline: none;
      border: none;
      font-size: 22px;
      padding: 20px 10px 20px 5px;
      color:#fff;
      text-align: center;
      margin-left: 100px;
  }


  .inputbox,
  .input{
      margin-bottom: 30px;
      border-radius: 25px;
      box-shadow: inset 8px 8px 8px  #89b3b3,
      inset -8px -8px 8px  #736868

  }
.submit-btn{
    background: none;
    outline: none;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    font-family:"lato", sans-serif;
    padding: 20px 10px 20px 5px;
    color: #fff;
    background-color: aqua;
   box-shadow: 3px 8px 8px #b1b1b1,
   -3px -3px 8px #fff ;
transition: all 0.5s;
}
.submit-btn:hover{
  background-color: #50e5b9;
}
.submit-btn:active{
  background-color: #88ef9e;
}
.link{
   padding : 36px; 
  text-align: center;

}
.link a {
  text-decoration: none;
  color:#fff;
  font-size: 23px;
}
